<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rl.mapper.recyclemapper.RecyleMapper">
    <resultMap id="BaseResultMap" type="com.rl.model.Fileupload">
        <id column="file_id" jdbcType="INTEGER" property="fileId" />
        <result column="file_createDate" jdbcType="TIMESTAMP" property="fileCreatedate" />
        <result column="file_deleteDate" jdbcType="TIMESTAMP" property="fileDeletedate" />
        <result column="file_path" jdbcType="VARCHAR" property="filePath" />
        <result column="file_readAccount" jdbcType="INTEGER" property="fileReadaccount" />
        <result column="file_priority" jdbcType="INTEGER" property="filePriority" />
        <result column="file_kinds" jdbcType="INTEGER" property="fileKinds" />
        <result column="file_status" jdbcType="INTEGER" property="fileStatus" />
        <result column="action_id" jdbcType="INTEGER" property="actionId" />
        <result column="file_name" jdbcType="VARCHAR" property="fileName" />
        <result column="file_uploader" jdbcType="VARCHAR" property="fileUploader" />
        <result column="t_user_id" jdbcType="VARCHAR" property="tUserId" />
    </resultMap>

    <resultMap id="RecordBaseResultMap" type="com.rl.model.ActionRecord">
        <id column="action_id" jdbcType="INTEGER" property="actionId" />
        <result column="action_time" jdbcType="TIMESTAMP" property="actionTime" />
        <result column="action_kinds" jdbcType="INTEGER" property="actionKinds" />
        <result column="action_name" jdbcType="VARCHAR" property="actionName" />
        <result column="file_id" jdbcType="INTEGER" property="fileId" />
    </resultMap>

    <!--回收站查询文件列表-->
    <select id="selectRecycleFile" resultMap="BaseResultMap">
        SELECT f.file_id,
        f.file_createDate,
        f.file_deleteDate,
        f.file_path,
        f.file_readAccount,
        f.file_priority,
        f.file_kinds,
        f.file_status,
        f.action_id,
        f.file_name,
        f.file_uploader,
        f.t_user_id FROM
        sys_fileupload AS f WHERE f.file_status=0
    </select>

    <!--回收站查询文件列表分页-->
    <select id="selectRecycleFileList" resultMap="BaseResultMap">
        SELECT f.file_id,
               f.file_createDate,
               f.file_deleteDate,
               f.file_path,
               f.file_readAccount,
               f.file_priority,
               f.file_kinds,
               f.file_status,
               f.action_id,
               f.file_name,
               f.file_uploader,
               f.t_user_id FROM
               sys_fileupload AS f WHERE f.file_status=0
    </select>

    <!--删除文件-->
    <delete id="deleteFileByFileId" parameterType="integer">
        DELETE FROM sys_fileupload WHERE file_id=#{fileId,jdbcType=INTEGER} AND file_status=0;
    </delete>

    <!--删除文件对应操作记录-->
    <delete id="deleteActionRecord" parameterType="integer">
        DELETE FROM rl_action_record WHERE file_id=#{fileId,jdbcType=INTEGER};
    </delete>

    <!--恢复文件-->
    <update id="recoverFileByFileId" parameterType="integer">
        UPDATE sys_fileupload SET file_status=1 WHERE file_id=#{fileId,jdbcType=INTEGER};
    </update>

    <!--查看文件操作记录-->
    <select id="selectFileRecordList" parameterType="integer" resultMap="RecordBaseResultMap">
        SELECT action_id,
               action_time,
               action_kinds,
               action_name,
               file_id FROM rl_action_record WHERE file_id=#{fileId};
    </select>

    <!--按照文件名搜索-->
    <select id="selectFileByfileName" resultMap="BaseResultMap">
        SELECT f.file_id,
               f.file_createDate,
               f.file_deleteDate,
               f.file_path,
               f.file_readAccount,
               f.file_priority,
               f.file_kinds,
               f.file_status,
               f.action_id,
               f.file_name,
               f.file_uploader,
               f.t_user_id FROM
               sys_fileupload AS f WHERE file_name=#{fileName};
    </select>
</mapper>