<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>绩效统计</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
    <link href="/static/css/nav.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/check.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/iconfont.css"/>
    <script src="/static/js/iconfont.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/index.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/iconfont.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
<div id="wrapper">
    <!-- top -->
    <nav class="navbar top-navbar base-index" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"><img src="/static/img/logo.jpg" class="logo"></a>
        </div>
        <p class="navbar-text .visible-xs-block">早上好，欢迎来到让雷科技  !</p>
        <ul class="nav navbar-nav navbar-right base-nav">
            <li><a href="" class="timeaa"><span class="iconfont">&#xe663;</span></a></li>
            <li><a th:href="@{'/performance/personalCenter?tUserId='+${session.user.tUserId}+'&roleId='+${session.roleId}}"><span class="iconfont">&#xe647;</span> 我的绩效</a></li>
            <li><a href="/personal/go"><img th:src="@{${session.user.img}}"
                                 style="border-radius: 50%; width: 30px;height: 30px;margin-right: 10px;">个人中心</a></li>
        </ul>
        <div class="Crumbs">
            <ul class="breadcrumb">
                <li><a href="#">让雷科技</a></li>
                <li class="active">绩效统计</li>
            </ul>
        </div>
    </nav>
    <nav class="navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a class="active-menu" href="/upload/findWork"><span class="iconfont">&#xe64f;</span>
                        <cite>计划总结</cite></a>
                </li>
                <li>
                    <a class="active-menu" href="/workplan/go"><span class="iconfont">&#xe663;</span> <cite>工作计划</cite></a>
                </li>
                <li  class="nav-click" th:if="(${session.roleId} eq 2) or (${session.roleId} eq 3) or (${session.roleId} eq 5)">
                    <a class="active-menu" href="/performance/checkRole"><span class="iconfont">&#xe647;</span>
                        <cite>绩效统计</cite></a>
                </li>
                <li th:if="(${session.roleId} eq 2) or (${session.roleId} eq 5)">
                    <a class="active-menu" href="/user/go"><span class="iconfont">&#xe68f;</span>
                        <cite>人员管理</cite></a>
                </li>
                <li>
                    <a class="active-menu" href="/team/go"><span class="iconfont">&#xe610;</span>
                        <cite>团队介绍</cite></a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">

            </div>
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-2">
                                    <dl class="dl-horizontal">
                                        <dt class="plan"><a href="">我的绩效</a></dt>
                                    </dl>
                                </div>
                                <div class="col-md-8 col-md-offset-2 col-xs-12">
                                    <ul class="nav nav-pills">
                                        <li class="" id="year"><a href="#home-pills" data-toggle="tab"
                                                                  onclick="getMessage(-365)">年</a>
                                        </li>
                                        <li class="active" id="month"><a href="#profile-pills" data-toggle="tab"
                                                                         onclick="getMessage(-30)">月</a>
                                        </li>
                                        <li class="" id="week"><a href="#messages-pills" data-toggle="tab"
                                                                  onclick="getMessage(-7)">周</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade" id="home-pills">
                                    <div class="row">
                                        <div class="col-md-3 col-xs-3">
                                            所属部门
                                            <input type="text" class="form-control department" id="y_year"
                                                   disabled="disabled" placeholder="电商运营部">
                                        </div>
                                        <div class="col-xs-12 col-md-8 col-md-offset-1">
                                            <div class="department1 col-xs-6"><a href="">自测绩效点</a><div>
                                            </div>
                                            </div>
                                            <!--<div class="col-md-2 col-xs-2   ">-->
                                                <div class="department2 col-xs-6"><a href="">实际绩效点</a></div>
                                            <!--</div>-->
                                        </div>
                                        <div accesskey="row">
                                            <p class="sum1" id="sumyear"th:text="${sumplans}">累 计：暂无</p>
                                            <p class="text-center text-font"><span class="iconfont"></span>最近一年绩效统计，感谢你的勤劳付出！
                                            </p>
                                        </div>
                                        <div class="row">
                                            <img id="y_imgstr" src="/static/img/tx.png" class="center-block Head">
                                            <p class="text-center" id="y_name">翁少锋</p>
                                            <p class="text-center" id="y_userpost">UI设计师 | <span
                                                    id="y_partment">电商运营部</span></p>
                                            <div class="col-xs-10 col-xs-offset-1">
                                                <div class=" progress progress-striped active center-block">
                                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                                         id="y_wpActualPerformance" aria-valuenow="50" aria-valuemin="0"
                                                         aria-valuemax="100" style="width: 100%;">
                                                        <span class="sr-onl" id="y_exp_performance">20% 完成</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-10 col-xs-offset-1">
                                                <div class="progress progress-striped active center-block">
                                                    <div class="progress-bar progress-bar-info" role="progressbar"
                                                         id="y_wpProspectPerformance" aria-valuenow="40" aria-valuemin="0"
                                                         aria-valuemax="100" style="width: 30%;">
                                                        <span class="sr-onl" id="y_act_performance">50% 完成（信息）</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade active in" id="profile-pills">
                                    <div class="row">
                                        <div class="col-md-3 col-xs-6">
                                            所属部门
                                            <input type="text" class="form-control department" id="partment"
                                                   disabled="disabled">
                                        </div>
                                        <div class="col-md-8 col-md-offset-1 col-xs-12">
                                            <div class="department1 col-xs-6"><a href="">自测绩效点</a><div>
                                            </div>
                                            </div>
                                                <div class="department2 col-xs-6"><a href="">实际绩效点</a></div>
                                        </div>
                                        <div accesskey="row">
                                            <p class="sum1" id="summonth" th:text="${sumplans}">累 计：暂无</p>
                                            <p class="text-center text-font"><span class="iconfont"></span>最近一月绩效统计，感谢你的勤劳付出！
                                            </p>
                                        </div>
                                        <div class="row">
                                            <div class="m_imgcss">
                                                <img id="m_imgstr" src="/static/img/tx.png" class="center-block Head">
                                            </div>
                                            <p class="text-center" id="m_name">翁少锋</p>
                                            <p class="text-center" id="m_userpost">UI设计师 | <span
                                                    id="m_partment">电商运营部</span></p>
                                            <div class="col-xs-10 col-xs-offset-1">
                                                <div class=" progress progress-striped active center-block">
                                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                                         id="m_wpActualPerformance" aria-valuenow="50" aria-valuemin="0"
                                                         aria-valuemax="100" style="width: 100%;">
                                                        <span class="sr-onl" id="m_exp_performance">20% 完成</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-10 col-xs-offset-1">
                                                <div class="progress progress-striped active center-block">
                                                    <div class="progress-bar progress-bar-info" role="progressbar"
                                                         id="m_wpProspectPerformance" aria-valuenow="50" aria-valuemin="0"
                                                         aria-valuemax="100" style="width: 50%;">
                                                        <span class="sr-onl" id="m_act_performance">50% 完成（信息）</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="messages-pills">
                                    <div class="row">
                                        <div class="col-md-3">
                                            所属部门
                                            <input type="text" class="form-control department" id="w_week"
                                                   readonly="true" disabled="disabled" placeholder="电商运营部">
                                        </div>
                                        <div class="col-md-8 col-md-offset-1 col-xs-12">
                                            <div class="department1"><a href="">自测绩效点</a><div>
                                            </div>
                                            </div>
                                            <!--<div class="col-md-2">-->
                                                <div class="department2"><a href="">实际绩效点</a></div>
                                            <!--</div>-->
                                        </div>
                                        <div class="row">
                                            <p class="sum1" id="sumweek">累 计：暂无</p>
                                            <p class="text-center text-font"><span class="iconfont"></span>最近一周绩效统计，感谢你的勤劳付出！
                                            </p>
                                        </div>
                                        <div class="row">
                                            <div class="m_imgcss">
                                                <img id="w_imgstr" src="/static/img/tx.png" class="center-block Head">
                                            </div>
                                            <p class="text-center" id="w_name">翁少锋</p>
                                            <p class="text-center" id="w_userpost">UI设计师 | <span
                                                    id="w_partment">电商运营部</span></p>
                                            <div class="col-xs-10 col-xs-offset-1">
                                                <div class=" progress progress-striped active center-block">
                                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                                         id="w_wpActualPerformance" aria-valuenow="60" aria-valuemin="0"
                                                         aria-valuemax="100" style="width: 100%;">
                                                        <span class="sr-onl" id="w_exp_performance">60% 完成</span>
                                                    </div>
                                                </div>
                                            </div>
                                           <div class="col-xs-10 col-xs-offset-1">
                                               <div class="progress progress-striped active center-block">
                                                   <div class="progress-bar progress-bar-info" role="progressbar"
                                                        id="w_wpProspectPerformance" aria-valuenow="60" aria-valuemin="0"
                                                        aria-valuemax="100" style="width: 30%;">
                                                       <span class="sr-onl" id="w_act_performance">50% 完成（信息）</span>
                                                   </div>
                                               </div>
                                           </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="right">
                        <div class="row" th:each="user,state:${userList}">
                            <div class="col-xs-12">
                                <a th:href="@{'/team/Individual?tUserId='+${user.tUserId}}">
                                    <div class="col-xs-1">
                                        <img th:src="@{${user.img}}" class="img-circle">
                                    </div>
                                    <div class="col-xs-8">
                                        <ul class="right-font">
                                            <li th:text="${user.name}+'('+${user.engname}+')'">翁少锋（Steven）</li>
                                            <li th:text="${user.userpost}">UI工程师</li>
                                        </ul>
                                    </div>
                                </a>
                                <div class="col-xs-2">
                                    <a th:href="@{'#'+${state.count}}" aria-expanded="false" data-toggle="collapse"
                                       class="collapsed">
                                        <font style="vertical-align: inherit;">
                                            <span class="iconfont right-span tooltip-show" data-toggle="tooltip"
                                                  title="点击展开" data-placement="bottom">&#xe64b;</span>
                                        </font>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <ul th:id="${state.count}" class="list-unstyled collapse" style="">
                                        <p class="brief-introduction" th:text="${user.description}">白少</p>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/static/js/message.js" type="text/javascript" charset="utf-8"></script>
<script th:inline="javascript" type="text/javascript">
    //js全局变量
    var tUserId = [[${tUserId}]];
    var deptId = [[${deptId}]];
    var userpost = [[${user.userpost}]];
    var name = [[${user.name}]];
    var flag = -30;
    $(document).ready(function () {
        //职位赋值
        $("#m_userpost").text(userpost)
        $("#y_userpost").text(userpost)
        $("#w_userpost").text(userpost)
        $("#w_week").text(userpost)
        $("#y_year").text(userpost)

        $("#m_name").text(name)
        $("#y_name").text(name)
        $("#w_name").text(name)

        //部门赋值
        if (deptId == 1) {
            $("#partment").attr("value", "电商运营部")
            $("#m_partment").text("电商运营部")
            $("#y_partment").text("电商运营部")
            $("#w_partment").text("电商运营部")
        } else if (deptId == 2) {
            $("#partment").attr("value", "研发部")
            $("#m_partment").text("研发部")
            $("#y_partment").text("研发部")
            $("#w_partment").text("研发部")
        } else {
            $("#partment").attr("value", "市场营销部")
            $("#m_partment").text("市场营销部")
            $("#y_partment").text("市场营销部")
            $("#w_partment").text("市场营销部")
        }
        $.ajax({
            type: "POST", //提交方式
            url: "/performance/selectPersonPerformance",//路径
            data: {
                "tUserId": tUserId,
                "v": flag
            },
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            success: function (data) {//返回数据根据结果进行相应的处理
                //头像
                var imgstr = data.imgstr;
                $("#m_imgstr").attr("src", "data:image/jpeg;base64," + imgstr);
                //绩效情况
                var wpProspectPerformance = parseFloat(data.wpProspectPerformance.toString());
                var wpActualPerformance = parseFloat(data.wpActualPerformance.toString());
                $("#m_exp_performance").text(wpProspectPerformance + " 点 自测绩效");
                $("#m_act_performance").text(wpActualPerformance + " 点 实际绩效");
                var rate = wpProspectPerformance <= 0 ? "0%" : (Math.round(wpActualPerformance / wpProspectPerformance * 10000) / 100.00 + "%");
                $("#m_wpProspectPerformance").attr("style", "width:" + rate);
            },
            error: function () {
                alert("返回消息失败");
            }
        });
    });

    //查看最近一月，最近一年绩效信息
    function getMessage(temp) {
        flag = temp;
        $.ajax({
            type: "POST", //提交方式
            url: "/performance/selectPersonPerformance",//路径
            data: {
                "tUserId": tUserId,
                "v": flag
            },
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            success: function (data) {//返回数据根据结果进行相应的处理
                var wpProspectPerformance = parseFloat(data.wpProspectPerformance.toString());
                var wpActualPerformance = parseFloat(data.wpActualPerformance.toString());
                //头像
                var imgstr = data.imgstr;
                //绩效情况动态赋值,先判断选择的选项
                if (flag == -7) {
                    $("#w_exp_performance").text(wpProspectPerformance + " 点 自测绩效");
                    $("#w_act_performance").text(wpActualPerformance + " 点 实际绩效");
                    var rate = wpProspectPerformance <= 0 ? "0%" : (Math.round(wpActualPerformance / wpProspectPerformance * 10000) / 100.00 + "%");
                    $("#w_wpProspectPerformance").attr("style", "width:" + rate);
                    $("#w_imgstr").attr("src", "data:image/jpeg;base64," + imgstr);
                    $("#sumweek").val(data.sumplans.toString());

                } else if (flag == -30) {
                    $("#m_exp_performance").text(wpProspectPerformance + " 点 自测绩效");
                    $("#m_act_performance").text(wpActualPerformance + " 点 实际绩效");
                    var rate = wpProspectPerformance <= 0 ? "0%" : (Math.round(wpActualPerformance / wpProspectPerformance * 10000) / 100.00 + "%");
                    $("#m_wpProspectPerformance").attr("style", "width:" + rate);
                    $("#m_imgstr").attr("src", "data:image/jpeg;base64," + imgstr);
                    $("#summonth").val(data.sumplans.toString());
                } else {
                    $("#y_exp_performance").text(wpProspectPerformance + " 点 自测绩效");
                    $("#y_act_performance").text(wpActualPerformance + " 点 实际绩效");
                    var rate = wpProspectPerformance <= 0 ? "0%" : (Math.round(wpActualPerformance / wpProspectPerformance * 10000) / 100.00 + "%");
                    $("#y_wpProspectPerformance").attr("style", "width:" + rate);
                    $("#y_imgstr").attr("src", "data:image/jpeg;base64," + imgstr);
                    $("#sumyear").val(data.sumplans.toString());
                }
            },
            error: function () {
                alert("返回消息失败");
            }
        });
    }
</script>
</html>
