<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>人事管理</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
    <link href="/static/css/nav.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/static/css/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/boos.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
    <script src="/static/js/iconfont.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/iconfont.js" type="text/javascript" charset="utf-8"></script>

</head>

<body>
<div id="wrapper">
    <!-- top -->
    <nav class="navbar top-navbar base-index" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"><img src="/static/img/logo.jpg" class="logo"></a>
        </div>
        <p class="navbar-text .visible-xs-block">早上好，欢迎来到让雷科技  ！</p>
        <ul class="nav navbar-nav navbar-right base-nav">
            <li><a href="" class="timeaa"><span class="iconfont">&#xe697;</span></a></li>
            <li><a th:href="@{'/performance/personalCenter?tUserId='+${session.user.tUserId}+'&roleId='+${session.roleId}}"><span class="iconfont">&#xe686;</span> 我的绩效</a></li>
            <li><a href="/personal/go"><img th:src="@{${session.user.img}}"
                                 style="border-radius: 50%; width: 30px;height: 30px;margin-right: 10px;">个人中心</a></li>
        </ul>
        <div class="Crumbs">
            <ul class="breadcrumb">
                <li><a href="#">让雷科技</a></li>
                <li class="active">人事管理</li>
            </ul>
        </div>
    </nav>
    <nav class="navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a class="active-menu" href="/upload/findWork"><span class="iconfont">&#xe64f;</span>
                        <cite>计划总结</cite></a>
                </li>
                <li>
                    <a class="active-menu" href="/workplan/go"><span class="iconfont">&#xe663;</span> <cite>工作计划</cite></a>
                </li>
                <li class="nav-click" th:if="(${session.roleId} eq 2) or (${session.roleId} eq 3) or (${session.roleId} eq 5)">
                    <a class="active-menu" href="/performance/checkRole"><span class="iconfont">&#xe647;</span>
                        <cite>绩效统计</cite></a>
                </li>
                <li th:if="(${session.roleId} eq 2) or (${session.roleId} eq 5)">
                    <a class="active-menu" href="/user/go"><span class="iconfont">&#xe68f;</span>
                        <cite>人员管理</cite></a>
                </li>
                <li>
                    <a class="active-menu" href="/team/go"><span class="iconfont">&#xe610;</span>
                        <cite>团队介绍</cite></a>
                </li>
            </ul>
        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">

            </div>
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="row box1">
                        <div class="col-sm-3">
                            <div class="row">
                                <dl class="dl-horizontal">
                                    <dt class="plan"><a href="">成员绩效</a></dt>
                                </dl>
                            </div>
                            <div class="row" style="margin-top: 30px;">
                                <div class="col-xs-11">
                                    <div class="form-group input-group">
                                        <input type="text" class="form-control" id="searchname">
                                        <span class="input-group-btn">
													<button class="btn btn-default" type="button"
                                                            onclick="searchName()"><i
                                                            class="glyphicon glyphicon-search  form-control-feedback"></i>
													</button>
												</span>
                                    </div>
                                </div>
                                <div id="getmessage">
                                    <div class="col-xs-12" th:each="user,state:${userList}">
                                        <div class="col-xs-3">
                                            <p class="nature" id="firstUpperCase" th:text="${user.firstUpperCase}"></p>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="surname" id="chinese" th:text="${user.name}"></div>
                                        </div>
                                        <div class="col-xs-1">
                                            <a class="glyphicon glyphicon-chevron-right righ" id="getUser"
                                               th:href="@{'/performance/getUserDetail?tUserId='+${user.tUserId}}"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="panel panel-default">
                                <div class="row">
                                    <div class="panel-heading"><!-- col-lg-offset-4 -->
                                        <div class="col-sm-8 col-md-9 col-md-offset-2 ">
                                            <ul class="nav nav-pills">
                                                <li class="" id="year">
                                                    <a href="#profile-pills" data-toggle="tab"
                                                       onclick="getYearPerformance(-365)">年</a>
                                                </li>
                                                <li class="active" id="month">
                                                    <a href="#profile-pills" data-toggle="tab"
                                                       onclick="getYearPerformance(-30)">月</a>
                                                </li>
                                                <li class="" id="week">
                                                    <a href="#profile-pills" data-toggle="tab"
                                                       onclick="getYearPerformance(-7)">周</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row contera">
                                        <div class="tab-content">
                                            <div class="tab-pane fade active in" id="profile-pills">
                                                <div class="row">
                                                    <p class="text-center text-font" id="content">
                                                        <span class="iconfont hihi"></span>小伙伴们一月的汗水都在这了，请HR小姐姐查阅</p>
                                                    <div id="main" style="width: 100%; height:400px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="right">
                        <div class="row" th:each="user,state:${userList}">
                            <div class="col-xs-12">
                                <a th:href="@{'/team/Individual?tUserId='+${user.tUserId}}">
                                    <div class="col-xs-1">
                                        <img th:src="@{${user.img}}" class="img-circle">
                                    </div>
                                    <div class="col-xs-8">
                                        <ul class="right-font">
                                            <li th:text="${user.name}+'('+${user.engname}+')'">翁少锋（Steven）</li>
                                            <li th:text="${user.userpost}">UI工程师</li>
                                        </ul>
                                    </div>
                                </a>
                                <div class="col-xs-2">
                                    <a th:href="@{'#'+${state.count}}" aria-expanded="false" data-toggle="collapse"
                                       class="collapsed">
                                        <font style="vertical-align: inherit;">
                                            <span class="iconfont right-span tooltip-show" data-toggle="tooltip"
                                                  title="点击展开" data-placement="bottom">&#xe64b;</span>
                                        </font>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <ul th:id="${state.count}" class="list-unstyled collapse">
                                        <li class="brief-introduction" th:text="${user.description}">白少</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!--隐藏域，存放用户id-->
    <input type="hidden" name="field＿name" id="firstuser" th:value="${firstuser}">
</div>

</div>
</body>
<script src="/static/js/message.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/index.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/echarts.min.js" type="text/javascript" charset="utf-8"></script>
<script th:inline="javascript" type="text/javascript">
    var temp;
    var timeStr = [[${timeStr}]];
    var expectStr = [[${expectStr}]];
    var actualStr = [[${actualStr}]];
    var checkStr = [[${checkStr}]];
    $(document).ready(function () {
        //赋值
        performance();
    });

    //根据姓名搜索
    function searchName() {
        var name = $("#searchname").val();
        if (name != "") {
            $.ajax({
                type: "POST",
                url: "/performance/searchUserByName",
                data: {
                    "name": name
                },
                contentType: "application/x-www-form-urlencoded",
                dataType: "json",
                success: function (data) {//返回数据根据结果进行相应的处理
                    temp = data.user.tUserId;
                    var str = "";
                    var firststr = data.user.name.toString().substring(0, 1);
                    var name = data.user.name.toString();
                    str += '<div class="col-xs-12">';
                    str += '<div class="col-xs-3">';
                    str += '<p class="nature"  id="firstUpperCase">' + firststr + '</p></div><div class="col-xs-6">';
                    str += '<div class="surname" id="chinese">' + name + '</div></div><div class="col-xs-1">';
                    str += ' <a class="glyphicon glyphicon-chevron-right righ" href="#" onclick="getDataStr()"></a></div></div>';
                    $("#getmessage").html(str);
                    //自测绩效，实际绩效赋值
                    $.ajax({
                        type: "POST",
                        url: "/performance/getUserPerformanceDataHr",
                        data: {
                            "tUserId": temp
                        },
                        contentType: "application/x-www-form-urlencoded",
                        dataType: "json",
                        success: function (data) {//返回数据根据结果进行相应的处理
                            timeStr = data.timeStr;
                            expectStr = data.expectStr;
                            actualStr = data.actualStr;
                            checkStr = data.checkStr;
                            $("#week").attr("class", "");
                            $("#year").attr("class", "");
                            $("#month").attr("class", "active");
                            performance();
                        },
                        error: function () {
                            alert("返回消息失败");
                        }
                    });

                },
                error: function () {
                    alert("返回消息失败");
                }
            });
        } else {
            alert("请输入姓名")
        }
    }

    //搜索查看用户绩效
    function getDataStr() {
        $.ajax({
            type: "POST",
            url: "/performance/getUserPerformanceDataHr",
            data: {
                "tUserId": temp
            },
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            success: function (data) {//返回数据根据结果进行相应的处理
                timeStr = data.timeStr;
                expectStr = data.expectStr;
                actualStr = data.actualStr;
                checkStr = data.checkStr;
                $("#week").attr("class", "");
                $("#year").attr("class", "");
                $("#month").attr("class", "active");
                performance();
            },
            error: function () {
                alert("返回消息失败");
            }
        });
    }

    //查看员工年/月/周绩效
    function getYearPerformance(v) {
        //获取隐藏域中用户id
        var tUserId = $("#firstuser").val();
        var total;
        if (v == -365) {
            total = 12;
            $("#content").text("小伙伴们一年的汗水都在这了，请HR小姐姐查阅");
        }
        if (v == -30) {
            total = 5;
            $("#content").text("小伙伴们一月的汗水都在这了，请HR小姐姐查阅");
        }
        if (v == -7) {
            total = 7;
            $("#content").text("小伙伴们一周的汗水都在这了，请HR小姐姐查阅");
        }
        $.ajax({
            type: "POST",
            url: "/performance/getUserPer",
            data: {
                "tUserId": tUserId,
                "v": v,
                "total": total
            },
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            success: function (data) {//返回数据根据结果进行相应的处理
                timeStr = data.timeStr;
                expectStr = data.expectStr;
                actualStr = data.actualStr;
                checkStr = data.checkStr;
                performance();
            },
            error: function () {
                alert("返回消息失败");
            }
        });
    }

    //echarts显示数据
    function performance() {
        // 人事
        var myChart = echarts.init(document.getElementById('main'));
        myChart.setOption({
            title: {
                // text: ''
            },
            legend: {
                data: ['自测绩效点', '实际绩效点', '审核绩效点']
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#9acff5'
                    }
                }
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: timeStr
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    itemStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(
                                0, 0, 0, 1,
                                [
                                    {offset: 0, color: '#87dc5f'},
                                    {offset: 0.1, color: '#90dc69'},
                                    {offset: 0.2, color: '#a3df7d'},
                                    {offset: 0.3, color: '#a8d984'},
                                    {offset: 0.5, color: '#b7e491'},
                                    {offset: 0.6, color: '#cdeaa7'},
                                    {offset: 0.7, color: '#daefb6'},
                                    {offset: 0.8, color: '#dff1bb'},
                                    {offset: 1, color: '#edf5d3'},
                                ]
                            )
                        }
                    },
                    name: '自测绩效点',
                    type: 'line',
                    stack: '总量',
                    smooth: true,
                    areaStyle: {},
                    data: expectStr
                },
                {
                    itemStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(
                                0, 0, 0, 1,
                                [
                                    {offset: 0, color: '#70c0ef'},
                                    {offset: 0.1, color: '#7ac3f1'},
                                    {offset: 0.2, color: '#8cc9f3'},
                                    {offset: 0.3, color: '#a1d1f6'},
                                    {offset: 0.5, color: '#b3d8f8'},
                                    {offset: 0.6, color: '#c9e2fb'},
                                    {offset: 0.7, color: '#ddecfd'},
                                    {offset: 0.8, color: '#f3f8fe'},
                                    {offset: 1, color: '#f7faff'},
                                ]
                            )
                        }
                    },
                    name: '实际绩效点',
                    type: 'line',
                    stack: '总量',
                    smooth: true,
                    areaStyle: {},
                    data: actualStr
                },
                {
                    itemStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(
                                0, 0, 0, 1,
                                [
                                    {offset: 0, color: '#000'},
                                    {offset: 0.5, color: '#888'},
                                    {offset: 1, color: '#ddd'}
                                ]
                            )
                        }
                    },
                    name: '审核绩效点',
                    type: 'line',
                    stack: '总量',
                    smooth: true,
                    areaStyle: {},
                    data: checkStr
                },
            ],
        });
    }
</script>
</html>
