<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>我的上传</title>
	<link href="/static/css/bootstrap.css" rel="stylesheet" />
	<link href="/static/css/nav.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="/static/css/iconfont.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/upload.css"/>
	<script src="/static/js/iconfont.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/index.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/jquery-1.10.2.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/iconfont.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div id="wrapper">
	<!-- top -->
	<nav class="navbar top-navbar base-index" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand"><img src="/static/img/logo.jpg" class="logo"></a>
		</div>
		<p class="navbar-text .visible-xs-block">早上好，欢迎来到让雷科技!</p>
		<ul class="nav navbar-nav navbar-right base-nav">
			<li><a href=""  class="timeaa"><span class="iconfont">&#xe663;</span></a></li>
			<li><a th:href="@{'/performance/personalCenter?tUserId='+${session.user.tUserId}+'&roleId='+${session.roleId}}"><span class="iconfont">&#xe647;</span> 我的绩效</a></li>
			<li><a href="/personal/go"><img th:src="@{${session.user.img}}" style="border-radius: 50%; width: 30px;height: 30px;margin-right: 10px;">个人中心</a></li>
		</ul>
		<div class="Crumbs">
			<ul class="breadcrumb">
				<li><a href="#">让雷科技</a></li>
				<li class="active">计划总结</li>
			</ul>
		</div>
	</nav>
	<nav class="navbar-side" role="navigation">
		<div class="sidebar-collapse">
			<ul class="nav" id="main-menu">
				<li class="nav-click">
					<a class="active-menu" href="/upload/findWork"><span class="iconfont">&#xe64f;</span>
						<cite>计划总结</cite></a>
				</li>
				<li>
					<a class="active-menu" href="/workplan/go"><span class="iconfont">&#xe663;</span> <cite>工作计划</cite></a>
				</li>
				<li th:if="(${session.roleId} eq 2) or (${session.roleId} eq 3) or (${session.roleId} eq 5)">
					<a class="active-menu" href="/performance/checkRole"><span class="iconfont">&#xe647;</span>
						<cite>绩效统计</cite></a>
				</li>
				<li th:if="(${session.roleId} eq 2) or (${session.roleId} eq 5)">
					<a class="active-menu" href="/user/go"><span class="iconfont">&#xe68f;</span>
						<cite>人员管理</cite></a>
				</li>
				<li>
					<a class="active-menu" href="/team/go"><span class="iconfont">&#xe610;</span>
						<cite>团队介绍</cite></a>
				</li>
			</ul>

		</div>

	</nav>
	<!-- /. NAV SIDE  -->
	<div id="page-wrapper">
		<div id="page-inner">
			<div class="row">

			</div>
			<div class="row">
				<div class="col-md-9 col-sm-12 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading middle-bottom">
							<form action="/upload/findWork" method="post">
								<div class="row">
									<div class="col-md-3">
										<dl class="dl-horizontal">
											<dt class="b">文件标题<input type="text" name="wpName" class="form-control upoad1" id="name" placeholder=""></dt>
										</dl>
									</div>
									<div class="col-md-7 col-lg-7 col-xs-12">
										<dl class="dl-horizontal">
											时间  <input type="date" id="time1" name="file_createDate1" class="form-cntrol upoad" placeholder="">-
											<input type="date" id="time2" name="file_createDate2" class="form-cntrol upoad"  placeholder="">
										</dl>
									</div>
									<div class="col-md-6 col-lg-2 col-xs-6">
										<dl class="dl-horizontal">
											<input type="submit" class="submit1" value="搜索" />
										</dl>
									</div>
								</div>
							</form>
						</div>
						<div class="panel-body">
							<table class="table table-bordered table-condensed table-responsive">
								<thead>
								<tr>
									<th>姓名</th>
									<th>文件标题</th>
									<th>上传时间<span class="iconfont icoo">&#xe63a;</span></th>
									<th>操作</th>
								</tr>
								</thead>
								<tbody>

								<tr th:each="work : ${pageInfo.list}" class="worklist">
									<input type="hidden" id="mess" value=""/>
									<td th:text="${work.name}" id="username">姓名</td>
									<!--<td th:text="${work.count}" id="count">工作计划数量</td>-->
									<td th:text="${work.wpName}" id="wpName">文件标题</td>
									<td th:text="${work.wpCreatedate}" id="workCreateDate">上传日期</td>
									<td>
										<a data-toggle="modal" id="operation"  data-target="#myModal"><span th:onclick="getDetail([[${work.tUserId}]],[[${work.wpCreatedate}]]);" class="iconfont ico" >&#xe852;</span></a>
										<span class="ok" aria-hidden="true">✔</span>
									</td>
								</tr>
								</tbody>
							</table>
							<div  id="page" class="row">
								<div class=" col-xs-12 col-md-5 col-md-offset-4">
									<!--首页-->
									<ul class="pagination">
										<li><a th:text="首页" th:href="@{/upload/findWork(pageNum=1,wpName=${wpName},file_createDate1=${file_createDate1},file_createDate2=${file_createDate2})}"></a></li>
									</ul>
									<!--上一页 ${pageInfo.pageNum-1}}-->
									<ul class="pagination">
										<li><a th:href="@{/upload/findWork(pageNum=${pageInfo.pageNum-1},wpName=${wpName},file_createDate1=${file_createDate1},file_createDate2=${file_createDate2})}" th:if="${pageInfo.hasPreviousPage} ">&laquo;</a></li>
									</ul>
									<!--循环出的页数 page_Num-->
									<ul class="pagination" th:each="page_Num : ${pageInfo.navigatepageNums}">
										<li class="active" th:if="${page_Num} eq ${pageInfo.pageNum}"><a th:text="${page_Num}"></a></li>
										<li th:if="${page_Num} ne ${pageInfo.pageNum}"><a th:href="@{/upload/findWork(pageNum=${page_Num},wpName=${wpName},file_createDate1=${file_createDate1},file_createDate2=${file_createDate2})}" th:text="${page_Num}"></a></li>
									</ul>
									<!--下一页 ${pageInfo.pageNum+1}}-->
									<ul class="pagination">
										<li><a th:href="@{/upload/findWork(pageNum=${pageInfo.pageNum+1},wpName=${wpName},file_createDate1=${file_createDate1},file_createDate2=${file_createDate2})}" th:if="${pageInfo.hasNextPage} ">&raquo;</a></li>
									</ul>
									<!--尾页 ${pageInfo.pages}}-->
									<ul class="pagination">
										<li><a th:text="尾页" th:href="@{/upload/findWork(pageNum=${pageInfo.pages},wpName=${wpName},file_createDate1=${file_createDate1},file_createDate2=${file_createDate2})}"></a></li>
									</ul>
								</div>
							</div>


							<!-- 模态框（Modal） -->
							<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
													aria-hidden="true">×
											</button>
											<h4 class="modal-title" id="myModalLabel">
												<!--<img src="/static/img/logo.jpg">-->
											</h4>
										</div>
										<div class="modal-body">
											<div class="table-responsive">
												<table class="table table-bordered table-condensed table-responsive">
													<caption><h4>上海让雷智能科技有限公司  员工计划表</h4></caption>
													<thead>
													<tr>
														<th style="display: none">
															<div>文件id</div>
														</th>
														<th>
															<div>序号</div>
														</th>
														<th>
															<div>时间</div>
														</th>
														<th class="contentaa">
															<div>工作计划内容</div>
														</th>
														<th>
															<div>权重点</div>
														</th>
														<th>
															<div>自测绩效点</div>
														</th>
														<th>
															<div>实际绩效点</div>
														</th>
														<th>
															<div>审核绩效点</div>
														</th>
														<th>
															<div>备注</div>
														</th>
													</tr>
													</thead>
													<tbody id="detail" class="detail">

													</tbody>
												</table>
											</div>
										</div>

										<div class="modal-footer">
											<button type="button" class="btn btn-info"
													data-dismiss="modal">关闭
											</button>
											<button type="button" class="btn btn-primary" id="disabled">提交</button>
											<button th:if="(${session.roleId} eq 3) or (${session.roleId} eq 5)" type="button" class="btn btn-danger" id="check">审核</button>
										</div>
									</div><!-- /.modal-content -->
								</div><!-- /.modal-dialog -->
							</div><!-- /.modal -->
						</div>
					</div>

				</div>
				<div class="col-md-3 col-sm-12 col-xs-12">
					<div class="right">
						<div class="row" th:each="user,state:${userList}">
							<div class="col-xs-12">
								<a th:href="@{'/team/Individual?tUserId='+${user.tUserId}}">
									<div class="col-xs-1">
										<img th:src="@{${user.img}}" class="img-circle">
									</div>
									<div class="col-xs-8">
										<ul class="right-font">
											<li th:text="${user.name}+'('+${user.engname}+')'">翁少锋（Steven）</li>
											<li th:text="${user.userpost}">UI工程师</li>
										</ul>
									</div>
								</a>
								<div class="col-xs-2">
									<a th:href="@{'#'+${state.count}}" aria-expanded="false" data-toggle="collapse"
									   class="collapsed">
										<font style="vertical-align: inherit;">
                                            <span class="iconfont right-span tooltip-show" data-toggle="tooltip"
												  title="点击展开" data-placement="bottom">&#xe64b;</span>
										</font>
									</a>
								</div>
							</div>
							<div class="col-xs-12">
								<ul th:id="${state.count}" class="list-unstyled collapse" style="">
									<p class="brief-introduction" th:text="${user.description}">白少</p>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<script src="/static/js/message.js" type="text/javascript" charset="utf-8"></script>
<script th:inline="javascript"  type="text/javascript">

    //查看一个工作计划的的详情信息
    function getDetail(tUserId,wpCreatedate) {
        $.ajax({
            type:"post",
            data:{
                "tUserId":tUserId,
                "wpCreatedate":wpCreatedate
            },
            url:"/upload/getWorkPlansDetailList",
            contentType:"application/x-www-form-urlencoded",
            dataType:"json",
            success:function (data) {
                var count =0;
                $('#detail').empty()
                var html="";
                var  detailList=data.workPlansList;
                $.each(detailList,function(index,n){
                    count++;
                    html+="<tr><td id='wpId' style='display: none'>"+detailList[index].wpId;
                    html+="</td><td id='number' class='timeqwe'>"+count;
                    html+="</td><td id='time' class='timeqwe'>"+detailList[index].wpStarttime+'-'+detailList[index].wpEndtime;
                    html+="</td><td class='other' id='wpContent'>"+detailList[index].wpContent;
                    html+="</td><td id='wpKeypoint' class='timeqwe'>"+detailList[index].wpKeypoint;
                    html+="</td><td id='wpProspectPerformance' class='timeqwe'>"+detailList[index].wpProspectPerformance;
                    html+="</td><td class='timeqwe'><input type='text' class='form-control modal-Actual' id='wpActualPerformance' value='"+detailList[index].wpActualPerformance;
                    html+="'";
                    html+="/></td><td class='timeqwe'><input type='text' class='form-control modal-Actual' id='checkPoint' value='"+detailList[index].checkPoint;
                    html+="'";
                    html+="/></td><td class='other1' id='wpRemark'>"+detailList[index].wpRemark;
                    html+="</td></tr>";
                })
                $("#detail").html(html);
            },
            error:function () {

            }
        })
    }
    //提交工作计划总结
    $(document).on("click","#disabled",function () {
        var wpIds = [];
        var tds = $("#detail").children().children(	"#wpId");
        for(var i=0;i<tds.length;i++){
            wpIds.push(tds[i].innerHTML);
        }
        var wpActualPerformances = [];
        var inputs = $("#detail tr").children().children("#wpActualPerformance");
        for(var i=0;i<inputs.length;i++){
            if(inputs[i].value==0){
                wpActualPerformances.push(inputs[i].value);
                continue;
            }else {
                wpActualPerformances.push(inputs[i].value);
            }
        }
        $.ajax({
            type:"post",
            data:{
                "wpIds":wpIds,
                "wpActualPerformances":wpActualPerformances
//				,
//				"selfTestPerformance":selfTestPerformance,
//                "selfActualPerformance":selfActualPerformance,
            },
            url:"/upload/addActual",
            contentType:"application/x-www-form-urlencoded",
            dataType:"json",
            success:function (data) {
                alert(data.msg.toString());
            },
            error:function () {
            }
        })
    })
    //提交审核点
    $(document).on("click","#check",function () {
        var wpIds = [];
        var tds = $("#detail").children().children("#wpId");
        for(var i=0;i<tds.length;i++){
            wpIds.push(tds[i].innerHTML);
        }

        var checkPoints = [];
        var points = $("#detail tr").children().children("#checkPoint");
        for(var i=0;i<points.length;i++){
            checkPoints.push(points[i].value);
        }

        $.ajax({
            type:"post",
            data:{
                "wpIds":wpIds,
                "checkPoints":checkPoints
//				,
//                "managementWeight":managementWeight,
//                "managementPerformance":managementPerformance,
//                "selfTotalPerformance":selfTotalPerformance,
//                "totalPerformance":totalPerformance
            },
            url:"/upload/keyPoint",
            contentType:"application/x-www-form-urlencoded",
            dataType:"json",
            success:function (data) {
                alert("审核完毕!");
            },
            error:function () {
            }
        })
    })
</script>
</html>
